{%extends 'all-galls/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

    <div class="imtitle" style="display: flex; text-align: center; margin: 5%;">
        <img src="http://www.pngmart.com/files/7/Gallery-PNG-Pic.png" style="width: 12%; border: none"; height="12%; margin-right: 2%">
        <h1>Wako's Gallery</h1>
      </div>

  <!-- Looping through news   -->
  

  
  {% for pics_item in gallery %}  
  <!--Display picture Photo images  -->
  <div class="col-md-4">
    <div class="card">
        
        <h2 class="text-center"> {{ pics_item.title }} </h2>
       <img class="card body img-fluid" src="{{pics_item.photo_image.url}}" class="img-responsive" alt="Image">
       
    </div>
  </div>


  {% empty %}
  <div class="row">
    <h2 class="text-center">There No New Photos</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}
